<div class="menu">
  <div class="icon-close">
        <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png">
      </div>
	<ul>
		<li><%= link_to "Harry Potter", harry_path %></li>
		<li><%= link_to "Ron Weasly", ron_path %></li>
		<li><%= link_to "Hermione Granger", hermione_path %></li>
		<li><%= link_to "Hogwarts", hogwarts_path %></li>
		<li><%= link_to "Lord Voldemort", voldemort_path %></li>
		<li><%= link_to "About", about_path %></li>
	</ul>
</div> 